.row{style: 'height:88vh'}
  .center.col.s10.offset-s1
    .col.s4.input-field
      %input#first_name.validate{type: "text"}/
      %label{for: "first_name"} Untitled
    .col.s4.input-field
      %select#anime-selector
        %option{value: "fade-out"} fade-out
        %option{value: "slide"} slide
        %option{value: "zoom"} zoom
        %option{value: "concave"} concave
        %option{value: "convex"} convex
      %label Slide Transition
  .container-fluid
    .row
      .col.s2{style: 'margin-left:2rem'}
        .slide-index.card{style: 'max-height: 75vh;overflow-y: auto'}
          .card-content.center
            #slide_thumb_container
            .btn.center.waves-effect.waves-light{onclick: 'addSlide();'}
              %i.material-icons.left add
              Add Slide
      .col.s9{style: 'margin-top:1.5rem'}
        .container
          #slide_prew.card
            .card-content#slide_editor{style: 'padding:0px'}
  .btn.btn-large.btn-floating.tooltipped{style: 'position: absolute; bottom:20px;right:20px', onclick: 'post_presentation()', "data-tooltip": "Save your presentation","data-position":"top"}
    %i.material-icons.right save
-# We will add tutorial slide's data at end(dont waste time)
#preslide.hide
  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center
        %u.ql-size-large Name Of Your Startup 
      %p.ql-align-center
        %span.ql-size-normal What you do
      %p.ql-align-center
        %span.ql-size-normal Two-Three words description
  
  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center
        %u.ql-size-normal “Make Impression with some AWESOME Quote”
  
  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center
        %u.ql-size-large Problem Statement
      %p.ql-align-center
        %span.ql-size-normal A powerful and utterly interesting opening line can not only draw people into your work, but also hint at the overarching themes your work explores in a deep and lasting way.

  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center
        %u.ql-size-huge Your Solution
      %p.ql-align-center
        %span.ql-size-large Write your problem statement here.

  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center
        %u.ql-size-large USP
      %ul.ql-size-normal
        %li.ql-size-normal Your Unique Selling Point that makes you worth investing.

  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center
        %u.ql-size-large Competition
      %ul
        %li.ql-size-normal Mention your competitors. Investor wants to know who else can compete you.

  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center
        %u.ql-size-large The Expansion Plan
      %ul
        %li.ql-size-normal “A startup not scalable is not worth investing.”
        %li.ql-size-normal Give a Briefing about how will you scale your startup.

  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center
        %u.ql-size-large Market Size
      %ul
        %li.ql-size-normal Mention who you are targeting.
        %li.ql-size-normal Numbers, about what percentage you are targeting.

  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center
        %u.ql-size-large User Base Demographics
      %figure
        %img{:src => "", :alt => "Chart"}/
        %figcaption Pie Chart Showing

  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center
        %u.ql-size-large User growth rate
      %ul
        %li.ql-size-normal How do you plan to increase your users and in what ratio you see them grow in a particular amount of time.
        %li.ql-size-normal How much traffic is expected.
        %li.ql-size-normal Insert Graph if possible.

  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center
        %u.ql-size-large Your Revenue Model
      %ul
        %li.ql-size-normal Who Pays
        %li.ql-size-normal How Much Pays.
        %li.ql-size-normal How?

  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center
        %u.ql-size-large Our Team
      %ul
        %li.ql-size-normal How much?
        %li.ql-size-normal Why? (your main expenses. Where will you be spending it.)

  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center
        %u.ql-size-large Team Composition
      .row
        .col.s12.m4
          %figure
            %img{:src => "", :alt => "PIC"}/
            %figcaption Member(Designation)
        .col.s12.m4
          %figure
            %img{:src => "", :alt => "PIC"}/
            %figcaption Member(Designation)
        .col.s12.m4
          %figure
            %img{:src => "", :alt => "PIC"}/
            %figcaption Member(Designation)

  %section.valign-wrapper.center.slideship
    .ql-editor{contenteditable: "true", "data-gramm" => "false"}
      %h1.ql-align-center "Some touching closing quote." 


= render 'form'

:javascript
  var slideid = 0;
  var addSlide = function(){};
  var post_presentation = function(){};
  (function ($) {
      $.fn.wysiwygEvt = function () {
          return this.each(function () {
              var $this = $(this);
              var htmlOld = $this.html();
              $this.bind('blur keyup paste copy cut', function () {
                  $('#preslide > section').eq(slideid).html($("#slide_editor > .slideship > .ql-editor").eq(0).html());
                  console.log($(".slide_thumb:nth-child"+'('+(slideid+1)+')'+" .slideship .ql-editor " ).eq(0).html($("#slide_editor > .slideship > .ql-editor").eq(0).html()));
                  //presentations_new_init();
              })
          })
      }
  })(jQuery);
  $(window).ready(function(){
    //$('#preslide').each(function(){
    //alert($('#preslide > section').length);
    function presentations_new_init(){
      $('#slide_thumb_container').html('');
      var sec_count = $('#preslide > section').length;
      var i = sec_count;
      while (i > 0) {
        $('#slide_thumb_container').append('<div class="slide_thumb col s12'+' thumb_no_'+(sec_count-i)+'"></div>');
        i--;
      }
      for(var i = 0; i < sec_count; i++){
        $('.slide_thumb').eq(i).html($('#preslide > section')[i].outerHTML);
      }
    }
    presentations_new_init();
    //$('.slide_thumb').click(function(){
      //$('#slide_prew > .card-content').html('');
      //var sid = parseInt($(this).attr('class').slice(-1),10);
      //$('#slide_prew .card-content').html($('#preslide > section')[sid].outerHTML);
      //$('.slide_thumb').removeClass('active');
      //$(this).addClass('active');
    //});
    function  slide_thumb_adder(){
      $('.slide_thumb').off('click');
      $('.slide_thumb').click(function(){
        $('#slide_prew > .card-content').html('');
        var sid = parseInt($(this).attr('class').slice(-1),10);
        slideid = sid;
        $('#slide_prew .card-content').html($('#preslide > section')[sid].outerHTML);
        $('.slide_thumb').removeClass('active');
        $(this).addClass('active');
      	var toolbarOptions = [
              [{ 'size': ['small', false, 'large'] }],  // custom dropdown
              [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
              ['bold', 'italic', 'underline'],        // toggled buttons
              ['blockquote', 'code-block'],
              [{ 'list': 'bullet' }],
              [{ 'align': [] }],
              [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
              [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
              [{ 'direction': 'rtl' }],                         // text direction

              [ 'link', 'image', 'video' ],          // add's image support
              [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
              [{ 'font': [] }],

              ['clean']                                         // remove formatting button
          ];
        	var quill = new Quill('#slide_editor section.valign-wrapper.center.slideship', {
              modules: {
              imageResize: {
                displaySize: true
              },
              toolbar: toolbarOptions
            },
            theme: 'snow'
          });
          var before;
          $("#slide_editor > .slideship > .ql-editor").eq(0).wysiwygEvt();
      });
    }
    //document.getElementById("editor")
    slide_thumb_adder();
    addSlide = null;
    post_presentation = null;
    addSlide = function(){
      $('#preslide').append('<section class="valign-wrapper center slideship">'+
                              '<div class="ql-editor" contenteditable="true" data-gramm="false">'+
                                '<h1 class="ql-align-center">'+
                                  '<u class="ql-size-huge">Title5</u>'+
                                '</h1>'+
                                '<p>'+
                                  '<br>'+
                                '</p>'+
                                '<h1 class="ql-align-center">'+
                                  '<span class="ql-size-large">Small descriptions(about you)</span>'+
                                '</h1>'+
                              '</div>'+
                            '</section>');
      presentations_new_init();
      slide_thumb_adder();
    }
    post_presentation = function(){
      var first_name = 
      $('#presentation_name').val($('#first_name').val());
      $('#presentation_content').val($('#preslide').html());
      $('#presentation_content').val($('#preslide').html());
      $('#presentation_animation').val($('#anime-selector').val());
      $('#presentation_submitter').click();
    }
  });
