:css
	html,body{
		overflow: hidden;
	}
.container-fluid.box
	#presentation-header.page-header.primary-color{style: "height: 100px;"}
		.container
			%h4.white-text Name
		.container
			=link_to edit_presentation_path,{class: "btn btn-floating right tooltipped amber darken-2","data-tooltip":"Edit this Presentation","data-position": "top",style: "top: -20px;"} do
				%i.material-icons create

	.content{style: "padding: 50px;"}
		.reveal{style: "height: 80%;"}
			%a#presentation-fullscreen
				%i.material-icons fullscreen
			.slides
				%section
					%h1 Slide 1
				%section
					%h1 Slide 2

	.fixed-action-btn
		%a.btn-floating.btn-large.red
			%i.large.material-icons share
		%ul
			%li
				%a.btn-floating.teal.tooltipped{"data-tooltip":"Download this pitch deck","data-position":"right"}
					%i.material-icons file_download
			%li
				%a.btn-floating.blue.tooltipped{"data-tooltip":"Share Link","data-position":"right"}
					%i.material-icons share

:javascript
	Reveal.initialize();

	function errorHandler() {
	   alert('mozfullscreenerror');
	}
	document.documentElement.addEventListener('mozfullscreenerror', errorHandler, false);

	// toggle full screen
	function toggleFullScreen() {
	  if (!document.fullscreenElement &&    // alternative standard method
	      !document.mozFullScreenElement && !document.webkitFullscreenElement) {  // current working methods
	    if (document.documentElement.requestFullscreen) {
	      document.documentElement.requestFullscreen();
	    } else if (document.documentElement.mozRequestFullScreen) {
	      document.documentElement.mozRequestFullScreen();
	    } else if (document.documentElement.webkitRequestFullscreen) {
	      document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
	    }
	    $('#presentation-header,nav,.fixed-action-btn').hide();
	    $('.content').css('padding', '0px');
	    $('.reveal').css('height', '100%');
	  } else {
	    if (document.cancelFullScreen) {
	      document.cancelFullScreen();
	    } else if (document.mozCancelFullScreen) {
	      document.mozCancelFullScreen();
	    } else if (document.webkitCancelFullScreen) {
	      document.webkitCancelFullScreen();
	    }
	    $('#presentation-header,nav,.fixed-action-btn').show();
	    $('.content').css('padding', '50px');
	    $('.reveal').css('height', '80%');
	  }
	}

	// keydown event handler
	$(function () {
	  $('#presentation-fullscreen').click(function(event) {
	    toggleFullScreen();
	  });

	  var el = document.getElementById('presentation-header');

	  // use necessary prefixed versions
	  el.mozRequestFullScreen();
	  // finally the standard version
	  // el.requestFullscreen();
	})
	
