.container-fluid
	%section.primary-color.page-header
		
		%img.responsive-img.cover{:src => "http://via.placeholder.com/400x400/00ffff", :alt => ""}/
		%img.profile-pic{src: "http://via.placeholder.com/400x400"}
		.container
		%a.btn.btn-floating.right{:href => ""}
		%a.btn.btn-floating.right{:href => ""}
		%a.btn.btn-floating.right{:href => ""}

	%section.section
		.container
			.row
				.col.m4.l3.hide-on-small-only
					.card
						.card-content
							.row
								.col.s3.center
									%img.profile-thumb{src: "http://via.placeholder.com/32x32"}
								.col.s9
									.row
										.s12
											%p.medium-weight.medium= @startup.title
											%p.text-muted= @startup.about
							.divider.mb-1
							.row
								%span.text-muted= @startup.description

				.col.s12.m8.l7
					.card.post
						.card-header.post-header
							%img.profile-thumb{:src => "http://via.placeholder.com/32x32", :alt => ""}/
							= link_to "Startup Name, Guy Name",'#',class: 'post-by'
						.card-image.post-image
							%img{:src => "http://via.placeholder.com/400x400/FF5252/FFFFFF"}/
							%span.card-title Card Title
							- if current_user
						.card-content
							%p.post-text Rob Stark right now hahah
							%span.post-timestamp 13 hours ago
						.card-action.post-footer
							%a{href: ""}
								%i.material-icons arrow_upward
								Upvote
							%a{href: ""}
								%i.material-icons phone
								Contact Startup
