- if user_signed_in?
	%li
		= link_to users_show_path, class: "profile-btn" do
			%img.hide-on-med-and-down{src: "http://via.placeholder.com/32x32"}
			%i.material-icons.hide-on-large-only person
			%span.hide-on-med-and-down= current_user.username
	%li
		%a.dropdown-trigger{href:"#", "data-activates": "settings_dropdown"}
			%i.material-icons settings
		%ul.dropdown-content#settings_dropdown
			%li
				= link_to "Account Settings",edit_user_registration_path
			%li
				= link_to "Logout",destroy_user_session_path,{method: :delete}

- else 
	%li
		%a{:href => "/users/sign_up"} Sign Up
	%li
		%a{:href => "/users/sign_in"} Login
