.card.post
	.card-header.post-header
		%img.profile-thumb{:src => "http://via.placeholder.com/32x32", :alt => ""}/
		= link_to "Startup Name, Guy Name",'#',class: 'post-by'
	.card-image.post-image
		%img{:src => "http://via.placeholder.com/400x400/FF5252/FFFFFF"}/
		%span.card-title= post.title
		-# TODO Link it to @post path
		%a.btn.btn-floating.halfway-fab.amber.tooltipped{:href => "#","data-position": "bottom", "data-tooltip": "Edit this post"}
			%i.material-icons create
	.card-content
		%p.post-text= post.description
		%span.post-timestamp 13 hours ago
	.card-action.post-footer
		%span
			%i.material-icons arrow_upward
			Upvote
		%span
			%i.material-icons phone
			Contact Startup
