

.card.horizontal
  .card-stacked
    .row
      .col.s3.offset-s1
        %br/
        %img{:src => "http://via.placeholder.com/32x32"}/
      .col.s8
        .card-content
          %p Description
    .row
      .col.s3
        %img{:alt => 'founder image'}
      .col.s3
        %img{alt: 'founder image'}        
      .col.s3
        %img{alt: 'founder image'}
      .col.s3
        %img{alt: 'founder image'}                
    .card-action
      %a{:href => "#"} This is a link
