.row
	.col.s12
		.card
			.card-content
				.row
					%p.flow-text Experience
					%ul.collection{style: "border: none;"}
						%li.collection-items{style: "border-bottom: 1px solid #BDBDBD;"}
							.row
								.col.s2
									%img.responsive-img{:src => "http://via.placeholder.com/50x50", :alt => ""}/
								.col.s10
									%p.bold-weight Title of Job
									%p Where
									%p From 27-2017 to present
									%p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, consequatur! Necessitatibus quia fugit eos, delectus est, eligendi vitae rem.

				.row
					%p.flow-text Education
					%ul.collection{style: "border: none;"}
						%li.collection-items{style: "border-bottom: 1px solid #BDBDBD;"}
							.row
								.col.s2
									%img.responsive-img{:src => "http://via.placeholder.com/50x50", :alt => ""}/
								.col.s10
									%p.bold-weight Btech
									%p GGSIPU
									%p From 2017-2018
									%p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, consequatur! Necessitatibus quia fugit eos, delectus est, eligendi vitae rem.

.row
	.col.s12
		.card
			.card-content
				.row
					.col.s12
						%p.flow-text Skills & Endoresment
						%ul.collection{style: "border: none;"}
							%li.collection-items{style: "border-bottom: 1px solid #BDBDBD;"}
								.row
									.col.s12.valign-wrapper
										%span.material-icons.mr1.secondary-text-color add_circle
										%span.bold-weight C++
									.col.s12
										%p.text-muted little description


