nav
	.nav-wrapper
		.brand-logo
			margin: auto 10px
		ul
			.profile-btn
				display: flex
				flex-direction: row

				img
					height: 32px
					width: 32px
					border-radius: 50%
					margin: auto
				span
					margin-left: 10px