// Place all the styles related to the startups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cover{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.profile-pic{
	position: relative;
	height: 200px;
	width: 200px;
	top: 65px;
	border: 5px solid white;
	z-index: 1;
	background: white;
}
.startup-profile-section{
	position: relative;
	.btn{
		margin-left: 10px;
	}
}

@media (min-width: 600px) and (orientation:landscape) {
	.my-tabs{
		margin-top: -15px;
.startups-card{
	.startup-img{
		height: 100px;
		width: 100px;
		padding: 5px;
		border-radius: 50%;
	}
}
}
}

.cofounder{
	.counder-img{

	}
	.cofounder-name{

	}
	.cofounder-link{
		color: $secondary-color;
		&:hover {
			color: lighten($secondary-color, 10%);
		}
		.material-icons{
			position: relative;
			top: 5px;
		}
	}
}

.invisibledj{
	visibility: hidden;
}
